*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
body{
    background-image: url(bg.avif);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
}
.Services{
    width: 1300px;
    padding: 30px 60px;
    margin: auto;
}
.Services h1{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    font-weight: 600px;
}
.Services h1:after{
    content: '';
    position: absolute;
    left: 50%;
bottom: 0%;
transform: translateX(-50%);
width: 150px;
height: 3px;
background-color: #707979;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.card{
    width: calc(34% - 22px);
    background: #c08d8d;
    padding: 40px 15px;
    margin: 0 30px;
    text-align: center;
    cursor: pointer;
    transition: 3s;
    position: relative;
    border-radius: 15px;
}
.sbox i{
    font-size: 40px;
    border: 1px solid rgba(0,0,0,5);
    border-radius: 50%;
    padding: 15px;
    transition: 0.5s;
}
.sbox h3{
    font-size: 24px;
}
.sbox p{
    margin: 20px 0;

}
.sbox a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: #333;
    padding: 10px 15px;
    border-radius: 18px;
    transition: 0.5s;
    margin: 20px 0.;
}
.sbox a:hover{
    background: transparent;
    border: 1px solid #333;
    transform: scale(1.2);
    background: rgb(0, 184, 148)

}
.card:hover .sbox i{
background: rgb(0, 184, 148);
color: #fff;
border-color: rgb(0, 184, 148);

}
.card:after{
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0,3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;

}
.card:hover::after{
    transform: rotate(13deg);
background-color: rgb(144, 130, 130);
border-radius: 15px;

}

